In [89]:
import pandas as pd
import numpy as np

In [90]:
df=pd.read_csv('train_v2.csv')

/home/sunil/anaconda3/lib/python3.7/site-packages/IPython/core/interactiveshell.py:3058: DtypeWarning: Columns (135,204,274,417) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [91]:
df.head()

,id,f1,f2,f3,f4,f5,f6,f7,f8,f9,...,f770,f771,f772,f773,f774,f775,f776,f777,f778,loss
0,1,126,10,0.686842,1100,3,13699,7201.0,4949.0,126.75,...,5,2.14,-1.54,1.18,0.1833,0.7873,1,0,5,0
1,2,121,10,0.782776,1100,3,84645,240.0,1625.0,123.52,...,6,0.54,-0.24,0.13,0.1926,-0.6787,1,0,5,0
2,3,126,10,0.500080,1100,3,83607,1800.0,1527.0,127.76,...,13,2.89,-1.73,1.04,0.2521,0.7258,1,0,5,0
3,4,134,10,0.439874,1100,3,82642,7542.0,1730.0,132.94,...,4,1.29,-0.89,0.66,0.2498,0.7119,1,0,5,0
4,5,109,9,0.502749,2900,4,79124,89.0,491.0,122.72,...,26,6.11,-3.82,2.51,0.2282,-0.5399,0,0,5,0

In [92]:
features = ['f527', 'f528', 'loss']

In [93]:
df = df[features]

In [94]:
df.head()

         f527        f528  loss
0  5920469.69  5920883.97     0
1   748533.27   748569.00     0
2   646675.84   646798.10     0
3   748136.78   748257.36     0
4   169912.50   169933.97     0

In [95]:
#Identify null values
print(df.isnull().sum())

f527    101
f528    101
loss      0
dtype: int64

In [96]:
#df = df.fillna(df.median())
df['f527'] = df['f527'].fillna((df['f527'].mean()))

In [97]:
df['f528'] = df['f528'].fillna((df['f528'].mean()))

In [98]:
df['f'] = df['f528'] - df['f527'].astype(float)

In [99]:
df.head()

         f527        f528  loss       f
0  5920469.69  5920883.97     0  414.28
1   748533.27   748569.00     0   35.73
2   646675.84   646798.10     0  122.26
3   748136.78   748257.36     0  120.58
4   169912.50   169933.97     0   21.47

In [100]:
df.drop(columns=['f527', 'f528'],inplace=True)

In [101]:
df.head()

   loss       f
0     0  414.28
1     0   35.73
2     0  122.26
3     0  120.58
4     0   21.47

In [102]:
#No nullvalues
print(df.isnull().sum())

loss    0
f       0
dtype: int64

In [103]:
df.loc[df.loss > 0, 'loss'] = 1

In [104]:
train_arr=df.values
train_arr.shape

(105471, 2)

In [105]:
from sklearn.linear_model import LogisticRegression
from sklearn.model_selection import train_test_split

In [106]:
y = train_arr[:,0]
y

array([0., 0., 0., ..., 0., 0., 0.])

In [107]:
y.shape

(105471,)

In [108]:
#https://nbviewer.jupyter.org/github/jakevdp/PythonDataScienceHandbook/blob/master/notebooks/02.02-The-Basics-Of-NumPy-Arrays.ipynb#Array-Slicing:-Accessing-Subarrays

In [109]:
train = train_arr[:,1:2]

In [110]:
train

array([[ 414.28],
       [  35.73],
       [ 122.26],
       ...,
       [3267.89],
       [2106.81],
       [1681.68]])

In [111]:
train.shape

(105471, 1)

In [112]:
x_train,x_test,y_train,y_test = train_test_split(train,y,random_state=0,test_size=0.25)

In [113]:
x_test.shape

(26368, 1)

In [114]:
clf = LogisticRegression(penalty='l1',solver='saga',max_iter=100)

In [115]:
clf.fit(x_train,y_train)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
                   intercept_scaling=1, l1_ratio=None, max_iter=100,
                   multi_class='warn', n_jobs=None, penalty='l1',
                   random_state=None, solver='saga', tol=0.0001, verbose=0,
                   warm_start=False)

In [116]:
#ypred=clf.predict(x_test)
#https://stackoverflow.com/questions/24458163/what-are-the-parameters-for-sklearns-score-function

In [117]:
clf.score(x_test,y_test)

0.9066292475728155

In [118]:
from sklearn.metrics import accuracy_score
from sklearn.metrics import mean_absolute_error
from sklearn.metrics import roc_auc_score

In [119]:
ypred=clf.predict(x_test)

In [120]:
print(ypred.shape)
print(y_test.shape)

(26368,)
(26368,)

In [121]:
#clf.predict_proba(x_test)[:,1]

In [122]:
accuracy_score(y_test,ypred)

0.9066292475728155

In [123]:
mean_absolute_error(y_test,ypred)

0.09337075242718447

In [124]:
#auc(y_test,ypred)

In [125]:
roc_auc_score(y_test,ypred)

0.5

In [126]:
roc_auc_score(y_test,clf.predict_proba(x_test)[:,1])

0.08497594797060216

In [127]:
feature = ['f527', 'f528']

In [128]:
test_data=pd.read_csv('test_v2.csv')

/home/sunil/anaconda3/lib/python3.7/site-packages/IPython/core/interactiveshell.py:3058: DtypeWarning: Columns (417) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [129]:
test_df=test_data[feature].copy()

In [130]:
test_df.head()

         f527        f528
0   296740.11    70456.97
1  8710885.75  8711572.78
2  3786482.10  3786623.82
3   630115.63   682172.81
4  6426976.82   106004.91

In [131]:
test_df['f527'] = test_df['f527'].fillna((test_df['f527'].mean()))

In [132]:
test_df['f528'] = test_df['f528'].fillna((test_df['f528'].mean()))

In [133]:
test_df['f'] = test_df['f528'] - test_df['f527'].astype(float)

In [134]:
test_df.drop(columns=['f527', 'f528'],inplace=True)

In [135]:
test_df.head()

            f
0  -226283.14
1      687.03
2      141.72
3    52057.18
4 -6320971.91

In [136]:
y_cap=clf.predict(test_df)

In [137]:
y_cap.shape

(210944,)

In [138]:
# Write the predictions to a CSV file which we can submit to the competition.
submission = pd.DataFrame(
    {'id': test_data.id, 'loss': y_cap},
    columns = ['id', 'loss'])
submission = submission.astype(int)
submission.to_csv('submission.csv', index = False)