In [141]:
import pandas as pd
import numpy as np

In [142]:
df=pd.read_csv('train_v2.csv')

/home/sunil/anaconda3/lib/python3.6/site-packages/IPython/core/interactiveshell.py:2785: DtypeWarning: Columns (135,204,274,417) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [143]:
df.head()

,id,f1,f2,f3,f4,f5,f6,f7,f8,f9,...,f770,f771,f772,f773,f774,f775,f776,f777,f778,loss
0,1,126,10,0.686842,1100,3,13699,7201.0,4949.0,126.75,...,5,2.14,-1.54,1.18,0.1833,0.7873,1,0,5,0
1,2,121,10,0.782776,1100,3,84645,240.0,1625.0,123.52,...,6,0.54,-0.24,0.13,0.1926,-0.6787,1,0,5,0
2,3,126,10,0.500080,1100,3,83607,1800.0,1527.0,127.76,...,13,2.89,-1.73,1.04,0.2521,0.7258,1,0,5,0
3,4,134,10,0.439874,1100,3,82642,7542.0,1730.0,132.94,...,4,1.29,-0.89,0.66,0.2498,0.7119,1,0,5,0
4,5,109,9,0.502749,2900,4,79124,89.0,491.0,122.72,...,26,6.11,-3.82,2.51,0.2282,-0.5399,0,0,5,0

In [144]:
features = ['f527', 'f528', 'loss']

In [147]:
df = df[features]

In [148]:
df.head()

         f527        f528  loss
0  5920469.69  5920883.97     0
1   748533.27   748569.00     0
2   646675.84   646798.10     0
3   748136.78   748257.36     0
4   169912.50   169933.97     0

In [149]:
#Identify null values
print(df.isnull().sum())

f527    101
f528    101
loss      0
dtype: int64

In [151]:
#df = df.fillna(df.median())
df['f527'] = df['f527'].fillna((df['f527'].mean()))

In [152]:
df['f528'] = df['f528'].fillna((df['f528'].mean()))

In [153]:
df.head()

         f527        f528  loss
0  5920469.69  5920883.97     0
1   748533.27   748569.00     0
2   646675.84   646798.10     0
3   748136.78   748257.36     0
4   169912.50   169933.97     0

In [158]:
#No nullvalues
print(df.isnull().sum())

f527    0
f528    0
loss    0
dtype: int64

In [159]:
df.loc[df.loss > 0, 'loss'] = 1

In [160]:
train_arr=df.values
train_arr.shape

(105471, 3)

In [161]:
from sklearn.linear_model import LogisticRegression
from sklearn.model_selection import train_test_split

In [162]:
y = train_arr[:,-1]

In [124]:
#y=(y > 0).astype(int)

In [125]:
#https://nbviewer.jupyter.org/github/jakevdp/PythonDataScienceHandbook/blob/master/notebooks/02.02-The-Basics-Of-NumPy-Arrays.ipynb#Array-Slicing:-Accessing-Subarrays

In [163]:
train = train_arr[:,:-1]

In [164]:
train.shape

(105471, 2)

In [165]:
x_train,x_test,y_train,y_test = train_test_split(train,y,random_state=0,test_size=0.25)

In [166]:
x_test.shape

(26368, 2)

In [168]:
clf = LogisticRegression(penalty='l1',multi_class='auto')

In [169]:
clf.fit(x_train,y_train)

/home/sunil/anaconda3/lib/python3.6/site-packages/sklearn/linear_model/logistic.py:432: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)
/home/sunil/anaconda3/lib/python3.6/site-packages/sklearn/svm/base.py:922: ConvergenceWarning: Liblinear failed to converge, increase the number of iterations.
  "the number of iterations.", ConvergenceWarning)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
          intercept_scaling=1, max_iter=100, multi_class='auto',
          n_jobs=None, penalty='l1', random_state=None, solver='warn',
          tol=0.0001, verbose=0, warm_start=False)

In [91]:
#ypred=clf.predict(x_test)
#https://stackoverflow.com/questions/24458163/what-are-the-parameters-for-sklearns-score-function

In [170]:
clf.score(x_test,y_test)

0.9066292475728155

In [171]:
from sklearn.metrics import accuracy_score
from sklearn.metrics import mean_absolute_error
from sklearn.metrics import auc

In [172]:
ypred=clf.predict(x_test)

In [173]:
print(ypred.shape)
print(y_test.shape)

(26368,)
(26368,)

In [174]:
#clf.predict_proba(x_test)[:,1]

In [175]:
accuracy_score(y_test,ypred)

0.9066292475728155

In [138]:
mean_absolute_error(y_test,ypred)

0.09337075242718447

In [139]:
#auc(y_test,ypred)

In [176]:
roc_auc_score(ypred,y_test)

ValueError: Only one class present in y_true. ROC AUC score is not defined in that case.